.apkcard,
.pechhulp {
  padding: 0 15px;
  margin-bottom: 25px;
}

.pechhulp{
  padding-bottom: 75px;
}

.apkcard > div {
  background-color: #dcffe4;
  border: 1px solid #247200;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.pechhulp > div {
  background-color: #ffd18b;
  border: 1px solid #c38144;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.apkcard > div h2,
.pechhulp > div h2 {
  margin-bottom: 10px;
}

.apkcard > div p,
.pechhulp > div p {
  font-size: 0.9em;
  margin-bottom: 15px;
}

.apkcard > div a,
.pechhulp > div a {
  width: 75%;
}
