@font-face {
  font-family: 'kenteken';
  src: url('/fonts/Kenteken.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

:root {
    --app-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.disablescrolling{
  overflow: -moz-scrollbars-horizontal;
  overflow-y: hidden;
}

a {
  font-weight: 500;
  font-size: 0.85em;
  background-color: #0c79dd;
  border: 1px solid #0659a7;
  color: #ffff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  border-radius: 3px;
  padding: 5px 15px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body {
  background-color: #cccccc;
}

h2 {
  font-size: 1.2em;
}

#__next {
  max-width: 450px;
  min-height: 90vh;
  margin: 0 auto;
  background-color: #ffff;
  position: relative;
}

.fullheight{
  min-height: 100vh !important;
}

.noscroll{
  overflow: hidden !important;
}

.displaynone {
  display: none !important;
}

.backbutton {
  position: absolute;
  top: 0 !important;
  background: none !important;
  border: none !important;
  top: 25px !important;
  left: 20px !important;
  cursor: pointer !important;
}

.graytextinput {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  height: 40px;
  margin: 15px auto;
  padding: 0 10px;
  background: #f4f4f4;
  border: 1px solid #cacaca;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.kentekenstyle {
  margin: 0 auto;
  display: block;
  background-color: #f4be02;
  color: #000;
  width: 175px;
  padding: 3px 0px 3px 40px;
  font-size: 25px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "kenteken";
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.kentekenheaderh1.kentekenstyle {
  padding: 3px 0px 3px 25px;
}

.kentekenstyle::before {
  content: "NL";
  background-color: #1b65a2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  color: #fff;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  font-size: 0.5em;
  width: 22px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.kentekeninputerror {
  border: 3px solid red !important;
  position: relative;
}

.kentekeninputerror::after {
  content: "Kenteken niet gevonden";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: red;
  font-weight: 600;
}

.huidigekmsectionerror {
  position: relative;
}

.huidigekmsectionerror input {
  border: 3px solid red !important;
  position: relative;
}

.huidigekmsectionerror::after {
  content: "Voer een geldig kilometerstand in";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: red;
  font-weight: 600;
}

.radiossection.errorstate {
  color: red !important;
  font-weight: 600;
}

.kmstandonderhoudsection.errorstate::after {
  content: "Voer een geldig kilometerstand in";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: red;
  font-weight: 600;
}

.kmstandgrotererror input {
  border: 3px solid red !important;
}

.kmstandgrotererror::after {
  content: "De kilometerstand van de laatste onderhoud kan niet hoger zijn dan huidige kilometerstand";
  position: absolute;
  bottom: -25px;
  font-size: 0.85em;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: red;
  font-weight: 600;
}

.kmstandonderhoudsection.errorstate input {
  color: red !important;
  border: 3px solid red !important;
}

.datumcontainerinner.errorstate input {
  color: red !important;
  border: 3px solid red !important;
}

.datumcontainerinner.errorstate::after {
  content: "Voer een geldig datum in";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: red;
  font-weight: 600;
}

.afspraaktijddatumerror{
  position: relative;
}

.afspraaktijddatumerror input{
  border: 3px solid red;
}

.afspraaktijddatumerror::after{
    content: "Vul een geldig datum en tijd in.";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    font-weight: 600;
    color: red;
    text-align: center;
}

.ongeldigapk > div,
.onderhoudnodig > div:nth-of-type(1) {
  background-color: #ffc8c8 !important;
  border: 1px solid #9e0000 !important;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.spinner div {
  left: 116.885px;
  top: 53.02px;
  position: absolute;
  animation: spinner linear 0.7633587786259541s infinite;
  background: #0c79dd;
  width: 7.23px;
  height: 24.1px;
  border-radius: 0px / 0px;
  transform-origin: 3.615px 67.48px;
}
.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.6939625260235948s;
  background: #0c79dd;
}
.spinner div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.6245662734212353s;
  background: #0c79dd;
}
.spinner div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.5551700208188758s;
  background: #0c79dd;
}
.spinner div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.4857737682165163s;
  background: #0c79dd;
}
.spinner div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.4163775156141568s;
  background: #0c79dd;
}
.spinner div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.3469812630117974s;
  background: #0c79dd;
}
.spinner div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.2775850104094379s;
  background: #0c79dd;
}
.spinner div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.2081887578070784s;
  background: #0c79dd;
}
.spinner div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.13879250520471895s;
  background: #0c79dd;
}
.spinner div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.06939625260235947s;
  background: #0c79dd;
}
.spinner div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  animation-delay: 0s;
  background: #0c79dd;
}
.loadingio-spinner-spinner-ja74yhf5dx {
  width: 241px;
  height: 241px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.spinner {
  width: 230px;
  height: auto;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.spinner div {
  box-sizing: content;
}