.button {
  background-color: #0c79dd;
  padding: 25px 5px;
  border: none;
  width: 90%;
  position: absolute;
  margin: auto;
  bottom: 15px;
  left: 0;
  right: 0;
  color: #ffff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.kentekenheader {
  background-color: #0c79dd;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 2px 0px, rgba(60, 64, 67, 0.15) 0px 4px 3px 1px;
}

.kentekenheader > div {
  width: 75%;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
  text-align: center;
  color: #ffff;
  text-transform: uppercase;
  font-size: 0.6em;
}

.container1 > div {
  width: 100%;
  padding: 0 15px;
  margin: 25px auto;
}

.container1 > div p {
  margin: 25px 0;
}

.container2 > div {
  width: 100%;
  padding: 0 15px;
  margin: 50px auto 0 auto;
}

.container2 > div > p {
  text-align: center;
  margin-bottom: 10px;
}

.container2 > div section {
  background-color: #f4be02;
  height: 60px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
  border: 2px solid #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container2 > div section div:nth-of-type(1) {
  background-color: #1b65a2;
  position: relative;
  width: 10%;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.container2 > div section div:nth-of-type(1) p {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
  color: #ffff;
  font-weight: 500;
}

.container2 > div section div:nth-of-type(2) {
  width: 90%;
}

.container2 > div section div:nth-of-type(2) input {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: none;
  background: none;
  border: none;
  font-size: 2.7em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "kenteken";
}

.container3 > div {
  width: 100%;
  padding: 0 15px;
  margin: 25px auto;
}

.container3 > div > img {
  width: 30%;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}

.container3 > div h2 {
  text-align: center;
  margin-top: 10px;
}

.container3 > div h3 {
  text-align: center;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 25px;
  font-size: 1.1em;
}

.container3 > div > section {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.container3 > div > section > button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -50px;
  border: none;
  background: none;
  margin-left: 10px;
  display: block;
  cursor: pointer;
}

.container3 > div > p:last-of-type {
  margin: 50px 0;
  text-align: center;
}

.container4 > div {
  width: 100%;
  padding: 0 15px;
  margin: 75px auto;
  text-align: center;
}

.container4 > div > section {
  position: relative;
}

.container4 > div p{
    font-weight: 600;
    font-size: 1.2em;
}

.container4 > div > section > label {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  height: fit-content;
  font-weight: 700;
  color: #5b5b5b;
}

.container5 > div {
  width: 100%;
  padding: 0 15px;
  margin: 75px auto 40px auto;
  text-align: center;
}

.container5 > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container5 > div p{
    font-weight: 600;
    font-size: 1.2em;
}

.container5 > section > button {
  background-color: #0c79dd;
  border: none;
  width: 120px;
  padding: 20px 0;
  margin: 0 10px;
  color: #ffff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.onderhoudbekend > div {
  width: 100%;
  padding: 0 15px;
  margin: 75px auto 40px auto;
  text-align: center;
}

.onderhoudbekend > div p{
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.onderhoudbekend > div input[type='radio'] { 
     transform: scale(2); 
     margin-bottom: 25px;
 }

 .onderhoudbekend > div label{
    font-size: 1.4em;
    margin-bottom: 23px;
    margin-left: 10px;
 }

.onderhoudbekend > div > section:first-of-type {
  position: relative;
  margin-bottom: 50px;
}

.onderhoudbekend > div > section:first-of-type > label {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  height: fit-content;
  font-weight: 700;
  color: #5b5b5b;
}

.onderhoudbekend > div > section:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-top: 10px;
  width: 90%;
}

.onderhoudbekend > div > section:last-child span {
  display: flex;
  align-items: center;
}

.onderhoudbekend > div > section:last-child span input {
  margin-right: 5px;
}

.datumcontainer > div {
  width: 100%;
  padding: 0 15px;
  margin: 75px auto 40px auto;
  text-align: center;
  position: relative;
}

.datumcontainer > div p{
    font-weight: 600;
    font-size: 1.2em;
}

.datumcontainer > div input{
  width: 100%;
}

.onderhoudonbekend > div {
  width: 100%;
  padding: 0 15px;
  margin: 50px auto;
  position: relative;
}

.onderhoudonbekend > div p {
  margin-bottom: 25px;
}

