.onderhoud{
    padding: 0 15px;
    margin-top: 20px;
    padding-bottom: 100px;
}

.onderhoud h1{
    font-size: 1.3em;
    text-transform: uppercase;
    color: #535353;
    margin-bottom: 25px;
}

.spinner{
    margin: auto;
}

.onderhoudcontainer1{
    text-align: center;
    font-weight: 500;
    margin-top: 100px;
}

.locationcontainer img{
    width: 120px;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 25px;
    margin-top: 50px;
}

.locationcontainer span{
    font-weight: 700;
}

.zoekgaragebtn {
  background-color: #0c79dd;
  border: none;
  width: 200px;
  padding: 20px 0;
  margin: 0 10px;
  color: #ffff;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.onderhoudcontainer2 > div > section{
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.onderhoudcontainer2 > div > section h3{
    font-size: 1em;
    margin-bottom: 15px;
}

.onderhoudcontainer2 > div > section > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.onderhoudcontainer2 > div > section > div a{
    width: 45%;
    font-weight: 600;
}


.onderhoudcontainer2 > div > section > div button{
    width: 45%;
    font-weight: 600;
    font-weight: 500;
    font-size: 0.85em;
    background-color: #0c79dd;
    border: 1px solid #0659a7;
    color: #ffff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    border-radius: 3px;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.afspraakcontainer{
    position: absolute;
    background-color: #000000de;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    color: #ffff;
    padding: 50px;
    z-index: 999999999;
}

.afspraakcontainer button:nth-of-type(1){
    background: none;
    border: none;
    color: #ffff;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.afspraakcontainer button:nth-of-type(1) img{
    width: 30px;
    height: auto;
}

.afspraakcontainer section{
    text-align: center;
}

.afspraakcontainer section h2{
    margin-bottom: 75px;
    font-size: 1.6em;
}

.afspraakcontainer section input{
    width: 90%;
    margin-top: 0;
}

.afspraakcontainer section p{
    text-align: initial;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.afspraakcontainer button:nth-of-type(2){
    background-color: #0c79dd;
    border: none;
    color: #ffff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 150px;
    padding: 25px 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
